.booking {
    padding: 75px 0;
    background: #EAEAEA;
}

.booking__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 43px;
    text-align: center;
}

.booking__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 830px;
    margin: 0 auto;
}

.booking__input {
    width: 256px;
    height: 44px;
    padding: 11px 14px 12px;
    border: 1px solid #D9D9DE;
    margin-bottom: 28px;
    font-size: 16px;
}

.booking__input::placeholder
.booking__area::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #C4C4C4;
}

.booking__area {
    width: 100%;
    padding: 14px;
    height: 112px;
    border: 1px solid #D9D9DE;
    resize: none;
    margin-bottom: 67px;
}

.booking__btn {
    background: #886239;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    padding: 19px 65px 20px;
    cursor: pointer;
}

.booking__lable {
    font-size: 16px;
    line-height: 130%;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.booking__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0,);
    margin-left: 45px;
}

.booking__checkbox-style {
    width: 26px;
    height: 26px;
    border-radius: 2px;
    border: 2px solid #C4C4C4;
    position: absolute;
    margin-left: -45px;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: rgb(122, 100, 67);
    top: 50%;
    left: 50%;
    border-radius: 6px;
    transform: translate(-50%, -50%);
}