.gallery {
    padding: 50px 0 105px;
    background: #886239;
    color: #fff;
}

.gallery__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding-right: 160px;
}

.gallery__link {
    font-size:16px ; 
    line-height: 19px;
    text-decoration: underline;
}

.gallery__item-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 22px;
}

.slick-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: -77px;
    right: 0;
}

.slick-prev {
    right: 60px;
}